<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        height: 100px;
        width: 100px;
      }
      h1 {
        margin: 10px;
        text-align: center;
      }
      .p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <%- include("./partials/head") %>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Id</th>
          <th scope="col">Product name</th>
          <th scope="col">Product price</th>
        </tr>
      </thead>
      <tbody>
        <% locals.pro.forEach(prod => { %>
        <tr class="table-success">
          <th scope="row">
            <img src="/product/<%=prod.productimage%>" alt="product image" />
          </th>
          <td><%= prod.productname %></td>
          <td><%= prod.productprice %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include("./partials/script") %>
  </body>
</html>
